/* Fonts */
.root {
    -fx-font-family: 'JetBrains Mono Medium';
    -fx-font-size: 20px;
    -fx-text-background-color: #fff;
    -fx-mid-text-color: #1a1b1e;
    -fx-light-text-color: #1a1b1e;
}

/* Main */
#mainVBox {
    -fx-background-color: #1a1b1e;
}

/* Buttons */
.button {
    -fx-font-size: 16px;
    -fx-background-color: #98A5B2;
    -fx-background-insets: 0;
    -fx-background-radius: 0 5 5 0;
}

.button: hover {
    -fx-cursor: hand;
    -fx-background-color: #4C5259;
    -fx-text-fill: #fff;
}

#downloadButton {
    -fx-font-size: 18px;
    -fx-background-radius: 5;
}

/* Text Fields */
.text-field {
    -fx-font-size: 16px;
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 0;
    -fx-background-radius: 5 0 0 5;
    -fx-highlight-fill: #204281;
}

/* ComboBox */
.combo-box {
    -fx-font-size: 16px;
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-color: transparent;
    -fx-padding: 0;
}

.combo-box-base:hover {
    -fx-cursor: hand;
}

.combo-box-popup .list-cell  {
    -fx-font-size: 14px;
    -fx-text-fill: #1a1b1e;
    -fx-background-color: #cdcdcd;
}

.combo-box .list-cell: hover {
    -fx-background-color: #4C5259;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.combo-box-popup .list-cell: focused {
    -fx-background-color: #4C5259;
    -fx-text-fill: #fff;
}

.combo-box .arrow {
    -fx-background-color: #1a1b1e;
}

/* Progress Bar */
.progress-bar {
    -fx-accent: green;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.progress-bar .track {
    -fx-background-color: #cdcdcd;
}

/* Table "historyTable" */
.table-view .placeholder {
    -fx-background-color: #44464F;
    -fx-border-color: #1a1b1e;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 10 10 ;
}

.table-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view .placeholder .label {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
}

.table-view .arrow {
    -fx-background-color: #fff;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #2c2d31;
    -fx-background-insets: 0;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
}

.table-view .column-header .label: hover {
    -fx-cursor: hand;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-text-fill: #1a1b1e;
}

.table-cell: hover {
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.table-row-cell: odd {
    -fx-background-color: #cdcdcd;
    -fx-padding: 0;
}

.table-row-cell: even {
    -fx-background-color: #B9B9B9;
    -fx-padding: 0;
}

/* ListView (logList) and ScrollPane */
.list-view {
    -fx-background-color: #44464F;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-text-size: 10px;
}

.list-view .cell {
    -fx-background-color: #44464F;
    -fx-text-fill: #fff;
}

.list-view .cell: focused {
    -fx-background-color: #7C7E84;
}




/* Context menu and menu-items */
.context-menu {
    -fx-background-color: #2c2d31;
    -fx-background-insets: 0;
}

.context-menu .menu-item: focused {
    -fx-background-color: #204281;
}

.context-menu .menu-item: hover {
    -fx-cursor: hand;
}

.menu-item .label {
    -fx-text-fill: #d1c8c1;
    -fx-font-size: 14px;
}

.menu-item: focused .label {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
}